@model IEnumerable<CarUI.Models.Car>

@{
    ViewData["Title"] = "ViewAllCars";
}

<h1>List of all the cars</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarModel)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfLaunch)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfLaunch)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "UpdateCar", new {  id=item.CarId  }) |
                @Html.ActionLink("Details", "GetByCarName", new { name=item.CarName }) |
                @Html.ActionLink("Delete", "DeleteCar", new { name=item.CarName })
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="CreateCar">Create New</a>
</p>

